<h1>processing delivery order</h1>

<%= form_for :delivery_order, url: delivery_order_path(@delivery_order), method: :patch do |f| %>

  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.submit "Process Order" %>
  </p>

<% end %>

<%= link_to 'Back', delivery_order_path %>
