

<p>
<strong>Name</strong>
<%= @delivery_order.name %>
</p>

<p>
<strong>Odoo Id</strong>
<%= @delivery_order.odoo_id %>
</p>

<p>
<strong>State</strong>
<%= @delivery_order.state %>
</p>

<p>
<strong>Display Name</strong>
<%= @delivery_order.display_name %>
</p>

<p>
<strong>Origin</strong>
<%= @delivery_order.origin %>
</p>

<p>
<strong>Pack Operation Ids</strong>
<%= @delivery_order.pack_operation_ids %>
</p>

<p>
<strong>Id</strong>
<%= @delivery_order.id %>
</p>

<%= link_to 'Back', delivery_orders_path %>
